@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');

.App {
  width: 50%;
  margin-right: 25%;
  margin-left: 25%;
  background-image: url("./images/low_contrast_linen_@2X.png");
}
