/* body {
  background: #313639;
} */

.gear-icons {
  display: flex;
  justify-content: center;
}

.main-wrapper {
  margin-top: 5%;
}

.phaseChooser {
  display: flex;
  justify-content: center;
}

.classChooser {
  display: flex;
  justify-content: center;
}

.specChooser {
  display: flex;
  justify-content: center;
}
.coloredBG {
  border: 2px solid purple;
  border-radius: 6px;
  background: grey;
}

.left-gear {
  flex-direction: column;
  width: 64px;
}

.right-gear {
  flex-direction: column;
  width: 64px;
}

.doesClassWork {
  width: 100px;
}
.bottom-gear {
  display: flex;
  align-self: flex-end;
  flex-direction: row;
  height: 64px;
  margin-left: 3%;
  margin-right: 3%;
}